@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

/* Reset de propriedades */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
    font-family: 'Quicksand', sans-serif;
}

.container-grid {
    width: 80%;
    margin: 0 auto;
}

/* Cabeçalho */

header {
    background-color: gray;
}

header .header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    color: white;
    font-weight: 300;
}

header h1 #UX {
    font-weight: 600;
    font-style: italic;
}

header nav a {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

header nav {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Rodapé */

footer p{
    color: white;
    font-weight: 600;
}

footer {
    background-color: gray;
}


/* Main */

main .coluna1{
    width: 75%;
}

main .coluna1 #lapis{
    width: 100%;
}

main .coluna2{
    width: 20%;
}

main .colunas-flex{
    display: flex;
    justify-content: space-between;
}