@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background-color: lightgray;
font-family: 'Quicksand', sans-serif;
}

/* Formatação das Fontes */
header h1{
    color: white;
    font-weight: 300;
}

header h1 #UX {
    color: white;
    font-weight: 600;
    font-style: italic;
}

header nav a {
    color: white;
    text-decoration: none;
}

footer p{
    color: white;
    font-weight: 600;
}

/* configurações genericas */

.container-grid {
    width: 80%;
    margin: o auto;
}

header {
    background-color: gray;
}

header .header-flex{
    display: flex;
    justify-content: space-between;
}

header nav {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    background-color: gray;
    height: 50px;
    display: flex;
}


/* Main */

.colunas-flex{
    
}